.language-switcher {
    position: relative;
    display: inline-block;
}

.language-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.language-button img {
    height: 20px;
    width: auto;
}

.language-button.active {
    background-color: #fff;
    color: #035e5d;
}

.language-button:hover {
    background-color: #e2e2e2;
}

.language-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    background-color: #ececec;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border-radius: 15px;
}

.language-dropdown.open {
    display: block;
    background-color: #f5f5f5;
    font-family: "Arial", sans-serif;
    font-size: 15px;
}

.language-dropdown li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.language-dropdown li:hover {
    background-color: #fff;
    color: #035e5d;
}