/* Header Styles */
.header {
    background-color: transparent;
    color: #035e5d;
    padding: 10px 0;
    padding-right: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.logo img {
    width: 150px;
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 50px;
    font-weight: normal;
}

.navigation li {
    margin-right: 30px;
    font-family: "Arial", sans-serif;
    font-size: 15px;
}

.navigation button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #035e5d;
    font-weight: normal;
}

.navigation button:hover {
    font-weight: bold;
}

.navigation button.active-link {
    font-weight: bold;
    color: #024444; /* Change color of the active link */
}

.language-switcher {
    display: flex;
    align-items: center;
}

.language-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.language-button img {
    width: 16px;
    margin-right: 5px;
}

.language-button.active {
    font-weight: bold;
}

.language-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
}

.language-dropdown.active {
    display: block;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right button {
    font-family: "Arial", sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: #035e5d;
    font-weight: normal;
    background-color: transparent;
    border: none;
}

.header-right button i {
    color: #035e5d;
    margin-right: 5px;
}

.header-right button:hover {
    font-weight: bold;
}

.header-right button.active-link {
    font-weight: bold;
    color: #024444; /* Change color of the active link */
}

/* End Header Styles */
