/* Style for the main content container */
#fc-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
/* CSS for making the router-outlet cover the whole page width */
main.max-width {
    width: 100%; /* Make it cover the whole page width */
    max-width: none; /* Remove any maximum width constraints */
    flex: 1;
  }
  
  /* CSS for positioning the footer at the bottom */
  app-footer {
    margin-top: auto; /* Push the footer to the bottom of the container */
  }
  