.confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Center vertically in the viewport */
    font-family: "Arial", sans-serif;
  }
  
  .confirmation-icon {
    font-size: 48px; /* Adjust the size as needed */
    color: #035e5d; /* Use the color you've provided */
    margin: 20px; /* Add some margin for spacing */
  }
  
  .go-to-profile-button {
    padding: 10px 20px;
    background-color: #035e5d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none; /* Remove button outline on click */
  }
  
  .go-to-profile-button:hover {
    background-color: #024d4c; /* Change color on hover */
  }
  