<div class="reservation-container">
    <h2>Make Reservation</h2>
    <form (ngSubmit)="createReservation()">
        <div class="form-group">
            <label for="serviceId">Select Service</label>
            <select id="serviceId" name="serviceId" [(ngModel)]="reservationData.serviceId" class="form-control" required>
                <option [ngValue]="null" disabled selected>Choose your service</option>
                <option *ngFor="let service of services" [value]="service.id">{{ service.name }} - {{ service.price | currency: 'USD' }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="appointmentTime">Select Appointment Time</label>
            <select id="appointmentTime" name="appointmentTime" [(ngModel)]="reservationData.appointmentTime" class="form-control" required>
                <option [ngValue]="null" disabled selected>Choose your appointment time</option>
                <option *ngFor="let time of appointmentTimes" [value]="time">{{ time }}</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="reservationDate">Select Reservation Date</label>
            <input id="reservationDate" type="date" name="reservationDate" [(ngModel)]="reservationData.reservationDate"
                class="form-control" required min="{{ minReservationDate | date: 'yyyy-MM-dd' }}">
        </div>
        <div class="form-group">
            <label for="guestCount">Number of Guests</label>
            <input id="guestCount" type="number" name="guestCount" [(ngModel)]="reservationData.guestCount"
                class="form-control" required min="1">
        </div>
        <button type="submit" class="btn btn-primary">Create Reservation</button>
    </form>
</div>